<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>

<body>
<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(2)" class="ui inverted segment attached m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/img/head.jpg">
                        柠檬不萌
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item"><img class="ui avatar image" src="../../static/img/head.jpg"> Jenny Hess
                        </div>
                        <div class="item"><i class="power off icon"></i> 注销</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui icon black button m-right-top m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing  menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="item ">发布</a>
            <a href="#" th:href="@{/admin/types}" class="item teal active">列表</a>
        </div>
    </div>
</div>
<!-- 中间内容 -->
<div class="m-container-small m-padded-tb-large">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
        <table class="ui table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${type.name}">Java从入门到放弃</td>
                <td>
                    <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal button">编辑</a>
                    <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/types/(page=${page.number}-1)}" class="icon item"
                           th:unless="${page.first}">上一页</a>
                        <a th:href="@{/admin/types/(page=${page.number}+1)}" class="icon item" th:unless="${page.last}">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/types/input}" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- 底部 -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!-- 底部信息 -->
    <div class="ui  center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <img src="../../static/img/wechat.jpg" class="ui rounded image" alt=""
                         style="width: 100px;margin: auto;">
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">这是最新的博客内容的链接</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:17521691248@163.com</a>
                    <a href="#" class="item">QQ:2858600511</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Constantine</h4>
                <p class="m-opacity-mini">
                    这是我的个人博客，跟着Lirenmi老师做的，后端使用：SpringBoot+JPA+thymeleaf;数据库使用：MySQL;开发采用：idea+maven;前端采用:Semantic
                    UI</p>
            </div>
        </div>

        <!-- 底部分割线 -->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyrigth &copy; 2015-2020 Constantine Designed by
            WangJun</p>
    </div>
</footer>

<!-- 导入的js -->
<th:block th:replace="_fragments :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</th:block>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>

</html>